*.pbf filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
benches/snapshots/*.snap filter=lfs diff=lfs merge=lfs -text
libs/routers_tz/data/prebuilt/*.postcard.bin filter=lfs diff=lfs merge=lfs -text
src/snapshots/*.snap linguist-generated=true
benches/snapshots/*.snap linguist-generated=true
